resources/*.zip
resources/*.exe
resources/jasperreports-server-cp-*/samples
resources/jasperreports-server-cp-*/jasperserver.zip
resources/runtime/*.tar.gz
resources/runtime/**/logs
resources/runtime/**/temp
resources/runtime/**/work
TIB_js-jrs-cp_8.0.0_bin/
init/
license/
keystore/
